@charset "utf-8";

* {
	margin: auto;
	padding: 0;
	list-style:none;
	box-sizing:border-box:
}


#top_line{
	width:800px;
	height:10px;
	background-color:#ffffff;	
}

#notice_write {
	width:800px;
	height:500px;
	margin: auto;
	background-color:#ffffff;
	border: 1px solid #000000;
}


#Toparea{
	width:100%;
	height:80px;
	background-color:#E6E3E3;
}
h2{
	color:#3e3e3e;
	padding-top:15px;
	padding-left:20px;
	background-color:#E6E3E3;
}
#Toparea p{
	padding-left:20px;
	
	font-weight: bold;
	color: #ff0000;
}

p{
	font-size:14px;
}
#notice_title{
	width:94%;
	height:50px;
	margin:20px;
	margin-bottom: 10px;
}
#ntitle{
	width:757px;
}

#notice_content{
	width:94%;
	height:270px;
	margin-left:20px;
}
#ncontent{
	width:759px;
	height:250px;
	resize: none;
}

#bottom_line{
	width:400px;
	height:10px;
}


.Bottomarea{
	width:96%;
	height:50px;
	margin-left:20px;
	margin-top:5px;
}

#write_btn{
	float:right;
	width:100px;
	height:40px;
	margin-right:10px;
	display:block;
	color: #ffffff;
    background: #9e9e9e;
    border:0px;
  	outline: none;
  	border-radius: 5px;
}
#write_btn:hover{
	background: #707070;
	cursor:pointer;
	transition: 1s;
}